:root {
  --white: #fff;
  --gray-light-background: #f8f8f8;
  --gray-light-border: #d0d0d0;
  --gray-light-icons: #dadada;
  --gray-light: #cecece;
  --gray-light-input-focus: #d8dce6;
  --gray: #464646;
  --gray-dark-input: #47484B;
  --gray-medium: #323232;
  --gray-dark: #282828;
  --gray-dark-footer-top: #1E1E20;
  --gray-dark-footer-center: #171718;
  --black: #000;
  --red-dark: #cc0000;
  --green: #3dc47e;
  --green-lime: #28a745;
  --blue: #0088cc;
}
