.header {
  &__container {
    display: flex;
    align-items: center;
    height: 70px;
  }
  &__logo {
    &-image {
      width: 102px;
    }
  }
  &__nav {
    margin-left: auto;
    margin-right: 32px;
    &-list {
      display: flex;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
    &-link {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      color: var(--gray-dark);
      transition: color 0.2s ease;
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 3px;
        background: var(--green);
        transition: width 0.4s ease;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
      &:active {
        color: var(--green);
      }
    }
    &-responsive {
      display: none;
      margin-left: auto;
    }
  }
  &__auth-button {
    padding: 10px 19px;
    font-weight: 500;
    font-size: 15px;
    color: var(--gray-dark);
    border: 1px solid var(--green-lime);
    border-radius: 4px;
    transition: color 0.3s ease, background 0.3s ease;
    &:hover {
      color: var(--white);
      background: var(--green-lime);
    }
  }
}

@media all and (max-width: 870px) {
  .header {
    &__nav {
      display: none;
      margin: 0;
      &-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &-item {
        margin-bottom: 25px;
        &:not(:last-child) {
          margin-right: 0;
        }
      }
      &-link {
        font-size: 22px;
        font-weight: initial;
      }

      &-responsive {
        display: initial;

        &-burger {
          padding: 0;
          border: none;
          & > svg {
            fill: var(--gray-dark);
            transition: fill 0.3s ease;
            &:hover,
            &:active {
              fill: var(--green-lime);
            }
          }
        }

        &-container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: fixed;
          left: 0;
          top: 0;
          padding-top: 50px;
          height: 100vh;
          width: 100vw;
          transform: translateY(-100%);
          background: var(--white);
          z-index: 100;
          transition: transform 0.3s ease;
          & > nav {
            display: initial;
          }
        }

        &-close-button {
          position: absolute;
          left: 50%;
          top: 15px;
          transform: translateX(-50%);
          padding: 0;
          border: none;
          & > svg {
            width: 44px;
          }
        }
      }
    }
    &__auth-button {
      margin-left: auto;
    }
  }
}
